/* ======================
   RESET
====================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#f1f5f9;
}

/* ======================
   WRAPPER
====================== */

.wrapper{
    display:flex;
    min-height:100vh;
}

/* ======================
   SIDEBAR
====================== */
.sidebar{

    width:280px;

    background:
    linear-gradient(
        180deg,
        #113077 0%,
        #0a2766 40%,
        #102c5c 100%
    );

    padding:25px 18px;

    flex-shrink:0;

    overflow-y:auto;

    border-right:1px solid rgba(255,255,255,.08);

    box-shadow:
    10px 0 40px rgba(0,0,0,.25);

    position:relative;
}

/* Glow Effect */

.sidebar::before{

    content:"";

    position:absolute;

    width:250px;
    height:250px;

    background:
    radial-gradient(
        rgba(59,130,246,.25),
        transparent 70%
    );

    top:-100px;
    left:-100px;

    pointer-events:none;
}
.sidebar-logo{

    text-align:center;

    padding-bottom:25px;

    margin-bottom:25px;

    border-bottom:1px solid rgba(255,255,255,.08);
}

.sidebar-logo img{

    width:110px;
    height:110px;

    border-radius:50%;

    background:white;

    padding:10px;

    box-shadow:
    0 15px 30px rgba(0,0,0,.25);
}

.logo-text h2{

    color:white;

    margin-top:18px;

    font-size:34px;

    font-weight:700;
}

.logo-text p{

    color:#cbd5e1;

    font-size:15px;
}

/* ======================
   MENU
====================== */

.sidebar-menu{
    list-style:none;
    padding:0;
}

.sidebar-menu li{
    margin-bottom:14px;
}

/* Main Buttons */

.sidebar-menu li a,
.menu-header{

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:16px 18px;

    border-radius:18px;

    text-decoration:none;

    color:#ffffff;

    background:rgba(255,255,255,0.05);

    border:1px solid rgba(255,255,255,0.08);

    backdrop-filter:blur(10px);

    transition:all .35s ease;
}

/* Left Side */

.menu-title{
    display:flex;
    align-items:center;
    gap:14px;
}

/* Icons */

.menu-title i,
.sidebar-menu li a i{

    font-size:20px;
}

/* Hover */

.sidebar-menu li a:hover,
.menu-header:hover{

    background:rgba(255,255,255,0.12);

    transform:translateX(6px);

    box-shadow:
    0 10px 20px rgba(0,0,0,.15);
}

/* Active Dashboard */

.sidebar-menu li.active a{

    background:
    linear-gradient(
        90deg,
        #7c3aed,
        #4f46e5,
        #38bdf8
    );

    color:white;

    border:none;

    box-shadow:
    0 10px 25px rgba(79,70,229,.45);
}
/* ======================
   SUBMENU
====================== */
.submenu{

    list-style:none;

    max-height:0;

    overflow:hidden;

    transition:max-height .4s ease;

    margin-top:8px;
}

.has-submenu.active .submenu{

    max-height:250px;
}

.submenu li{

    margin:8px 0 0 18px;
}

.submenu li a{

    background:rgba(255,255,255,.04);

    border-radius:14px;

    padding:13px 15px;

    font-size:14px;

    border:1px solid rgba(255,255,255,.05);
}

.submenu li a:hover{

    background:rgba(255,255,255,.10);

    transform:translateX(4px);
}
/* ======================
   CONTENT
====================== */

.content{
    flex:1;
    padding:30px;
}

/* ======================
   TOPBAR
====================== */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:white;
    padding:20px 25px;

    border-radius:20px;

    margin-bottom:30px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.topbar h2{
    color:#0f172a;
    margin:0;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:15px;
}

/* ======================
   SEARCH
====================== */

.search-box{
    display:flex;
    align-items:center;
    gap:10px;

    width:280px;

    background:white;

    border:1px solid #cbd5e1;

    border-radius:50px;

    padding:12px 20px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
}

/* ======================
   PROFILE
====================== */

.profile{
    display:flex;
    align-items:center;
    gap:8px;
    cursor:pointer;
}

.profile i{
    font-size:22px;
}

.dropdown-menu{
    margin-top:10px;
    border-radius:15px;
}

/* ======================
   GRID
====================== */

.dashboard-grid{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

/* ======================
   WELCOME
====================== */

.welcome-section{
    background:white;
    padding:30px;
    border-radius:20px;
    margin-bottom:25px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.welcome-section h1{
    color:#0f172a;
    margin-bottom:10px;
}

.welcome-section p{
    color:#64748b;
}
/* ======================
   theme toggle
====================== */
.theme-toggle{

    width:50px;
    height:50px;

    border:none;

    border-radius:50%;

    background:white;

    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    box-shadow:0 4px 12px rgba(0,0,0,.08);

    transition:.3s;
}

.theme-toggle:hover{

    transform:rotate(20deg);
}

.theme-toggle i{

    font-size:20px;

    color:#f59e0b;
}

body.dark{

    background:#0f172a;
}

body.dark .content{

    background:#111827;
}

body.dark .topbar{

    background:#1e293b;
}

body.dark .welcome-section{

    background:#1e293b;
}

body.dark .card-box{

    background:#1e293b;
}

body.dark .activity-box{

    background:#1e293b;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark p,
body.dark span{

    color:white;
}

body.dark .search-box{

    background:#0f172a;
    border:1px solid #334155;
}

body.dark input{

    color:white;
}
/* ======================
   CARDS
====================== */

.cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}

.card-box{
    background:white;
    border-radius:20px;
    padding:25px;
    text-align:center;

    box-shadow:0 3px 10px rgba(0,0,0,.08);

    transition:.3s;
}

.card-box:hover{
    transform:translateY(-5px);
}

.card-box i{
    font-size:30px;
    color:#2563eb;
}

.card-box h3{
    margin:10px 0;
    font-size:32px;
}

.card-box p{
    color:#64748b;
}

/* ======================
   ACTIVITY
====================== */

.activity-section h2{
    margin-bottom:20px;
    color:#0f172a;
}

.activity-box{
    background:white;
    padding:25px;
    border-radius:20px;

    box-shadow:0 3px 10px rgba(0,0,0,.08);
}

.activity-box p{
    padding:12px 0;
    border-bottom:1px solid #e2e8f0;
}

.activity-box p:last-child{
    border:none;
}

/* ======================
   RESPONSIVE
====================== */

@media(max-width:1200px){

    .cards{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:992px){

    .dashboard-grid{
        grid-template-columns:1fr;
    }
}

@media(max-width:768px){

    .sidebar{
        width:220px;
    }

    .cards{
        grid-template-columns:1fr;
    }

    .topbar{
        flex-direction:column;
        gap:15px;
    }

    .search-box{
        width:100%;
    }
}

@media(max-width:600px){

    .sidebar{
        display:none;
    }

    .content{
        padding:15px;
    }
}

.logout-link:hover{
    background:#ef4444 !important;
    color:white !important;
    transform:translateX(6px);
}

.logout-link:hover i{
    color:white;
}